# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [626]:
import pandas as pd
import numpy as np

In [627]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [628]:
df.at['f','age'] = 1.5

In [629]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [630]:
print("Dataframe Before Sorting")
#df
# Sorting as required: 
# "age", must descend in result,
# for the same "age": "visits" must ascend.
df = df.sort_values(by=["visits"])
df = sol18.sort_values(by=["age"],ascending=False)
sol18 = df
sol18

Dataframe Before Sorting

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [631]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [632]:
# a 5x3 frame of float values
df = pd.DataFrame(np.random.random(size=(5, 3)))
print("Start with Random Data frame 5x3:\n", df)

print("\nThe mean  of the rows are:")
print (row_mean)

Start with Random Data frame 5x3:
           0         1         2
0  0.488660  0.454281  0.090700
1  0.143089  0.717922  0.226936
2  0.737579  0.373949  0.966636
3  0.785261  0.496255  0.548726
4  0.421666  0.449947  0.504978

The mean  of the rows are:
a    0.525837
b    0.604026
c    0.510342
d    0.453520
e    0.455767
f    0.578199
g    0.267326
h    0.385400
i    0.561841
j    0.579695
dtype: float64

In [633]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [634]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
#Show Solution 
column_sums = df.sum(axis=0)
print("\nColumns´ Sums of random Data Frame (5 x10):\n",column_sums)
smallest_sum =min(column_sums)
print("\nSmallest Sum:\n ",smallest_sum) 
# find label - naming as required:  df, idx, sol24
df=column_sums
idx=df.idxmin(axis=1)
sol24=idx
print("Label of Column with Smallest Sum:\n ", sol24)

Columns´ Sums of random Data Frame (5 x10):
 a    1.177964
b    2.213522
c    3.333845
d    3.300428
e    1.888068
f    2.727620
g    2.264544
h    2.214150
i    1.924707
j    2.186281
dtype: float64

Smallest Sum:
  1.1779635239696225
Label of Column with Smallest Sum:
  a

In [635]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [636]:
# No Data provided - took fictive "bad animal clinic"  data
data = {"animal": ["1.11", '2.22', np.nan, '3.33', np.nan, np.nan, np.nan, 5.55, 4.44, np.nan],
        "age": [np.nan, np.nan, np.nan, np.nan, 5, np.nan, np.nan, 9.2, np.nan, 3],
        "vis": [np.nan, np.nan, 2, np.nan, np.nan, np.nan, 7, np.nan, np.nan, np.nan],
        "cost": [200, np.nan, 12.13, np.nan, np.nan, np.nan, 450, np.nan, 7, np.nan],
        "hour": [np.nan, np.nan, np.nan, np.nan, 15, 91, np.nan, 3, np.nan, np.nan],
        "mat": [np.nan, 1000, np.nan, 120, np.nan, np.nan, np.nan, np.nan, np.nan, 1],
        "man": [3.12, np.nan, np.nan, 103, np.nan, 20, 24, np.nan, np.nan, np.nan],
        "win": [412,1093, 890, 102, 1579, 199.99, 415, 174, 1013, 320],
        "tel": [np.nan, 5, 4, np.nan, 65, 27, np.nan, np.nan, 2, 3],
       }

labels = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bad_data = pd.DataFrame(data, index=labels)
print("Data provided from Bad Animal Clinic:\n", bad_data)
bad_data_bool = bad_data.isna()
#print(bad_data_bool)
column_with_third_nan_value =(bad_data.isnull().cumsum(axis=1) == 3).idxmax(axis=1)
print("\nThe Third Missing Entry is found in (row/column): ")
print(column_with_third_nan_value)

Data provided from Bad Animal Clinic:
    animal  age  vis    cost  hour     mat     man      win   tel
1    1.11  NaN  NaN  200.00   NaN     NaN    3.12   412.00   NaN
2    2.22  NaN  NaN     NaN   NaN  1000.0     NaN  1093.00   5.0
3     NaN  NaN  2.0   12.13   NaN     NaN     NaN   890.00   4.0
4    3.33  NaN  NaN     NaN   NaN   120.0  103.00   102.00   NaN
5     NaN  5.0  NaN     NaN  15.0     NaN     NaN  1579.00  65.0
6     NaN  NaN  NaN     NaN  91.0     NaN   20.00   199.99  27.0
7     NaN  NaN  7.0  450.00   NaN     NaN   24.00   415.00   NaN
8    5.55  9.2  NaN     NaN   3.0     NaN     NaN   174.00   NaN
9    4.44  NaN  NaN    7.00   NaN     NaN     NaN  1013.00   2.0
10    NaN  3.0  NaN     NaN   NaN     1.0     NaN   320.00   3.0

The Third Missing Entry is found in (row/column):
1     hour
2     cost
3     hour
4     cost
5     cost
6      vis
7     hour
8      mat
9     hour
10    cost
dtype: object

In [637]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

NameError: name 'indexes' is not defined

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [638]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df_1=df.sort_values(by="vals", ascending=False)
df_2=df_1.sort_values(by="grps")
df_a=df_2[df_2.grps=="a"]
df_b=df_2[df_2.grps=="b"]
df_c=df_2[df_2.grps=="c"]
#print(dfa, dfb, dfc)
sum_a= df_a[0:3].sum()
sum_b= df_b[0:3].sum()
sum_c= df_c[0:3].sum()
res=[[sum_a.vals],[sum_b.vals],[sum_c.vals]]
print("The Sum of the Three Highest Entries in Group a, b and c are:")
res

The Sum of the Three Highest Entries in Group a, b and c are:

[[409], [156], [345]]

In [639]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345

AttributeError: 'list' object has no attribute 'values'